*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(50, 50, 50);
    color: rgb(11, 179, 251);
}
.container{
margin: 12%;
width: 90%;
max-width: 700px;
}

.display{
    width: 60%;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgb(246, 251, 253);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}
.container h1{
    font-weight: 500;
    font-size: 45px;
}

.display img{
    width: 50px;
cursor: pointer;
}
.display input{
border: 0;
outline: 0;
font-size: 24px;
display: flex;
align-items: center;
justify-content: flex-end;
}
button{
    background-color: rgb(16, 141, 250);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 26px;
    margin-top : 5px;
    color: rgb(18, 16, 16);
    cursor: pointer;
    font-size: 20px;
}

#textpass:hover{
    color: blanchedalmond;
}
span{
    color: ;
}